ENVIRONMENT=
URL_PREFIX=
SECRET_CRONJOB=
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_TIME=
BASE_URL=
SERVER_PORT=
SECRET_KEY_SEND_GMAIL=
OTP_TIME_EXPIRE=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
S3_REGION=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=new-base

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=
PREFIX_KEY=

ADMIN_EMAIL=
ADMIN_PASSWORD_EMAIL=
ADMIN_EMAIL_NAME=